.principal__container {
    width: 65%;
    margin: 0 auto;

    text-align: center;

}

#input__id{
    outline: none;
    padding: 2px 6px;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.principal__personagem-imagem {
    width: 75px;
    border-radius: 6px;
    text-align: center;
}


.principal__cartao-personagens {
    margin: 6px auto;
    background-color: rgb(161, 127, 255);
    width: 150px;
    padding: 15px;
    border-radius: 10px;
}